@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: #FDFDFD;
  color: #111827;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
